In [9]:
import pandas as pd

In [10]:
# definir rutas de archivos a cargar
patch_cvs = "C:/Users/estudiante.pop/Desktop/ANALISIS DE DATOS GERARDO/_env/datos_personales.csv"
path_excel = "C:/Users/estudiante.pop/Desktop/ANALISIS DE DATOS GERARDO/_env/datos_personales.xlsx"
path_json = "C:/Users/estudiante.pop/Desktop/ANALISIS DE DATOS GERARDO/_env/datos_personales.json"

In [11]:
#cargar documentos csv
df_csv = pd.read_csv(patch_cvs)
df_csv

   edad  estatura nacionalidad c_hijos
0    18      1.70         Peru       1
1    18      1.65         Peru     dos
2    25      1.82         EeUu    cero
3    32      2.00      Ucrania       2

In [12]:
#cargar documentos json
df_json = pd.read_json(path_json)
df_json

   edad  estatura nacionalidad c_hijos
0    18      1.70         Peru       1
1    18      1.65         Peru     dos
2    25      1.82         EeUu    cero
3    32      2.00      Ucrania       2